

<!-- Breadcrumb Navigation -->
<nav aria-label="breadcrumb" class="mb-3">
    <ol class="breadcrumb">
        <% if (breadcrumbs && breadcrumbs.length > 0) { %>
        <% breadcrumbs.forEach((crumb, index) => { %>
        <% if (index === breadcrumbs.length - 1) { %>
        <li class="breadcrumb-item active text-primary" aria-current="page">
            <%= crumb.label %>
        </li>
        <% } else { %>
        <li class="breadcrumb-item">
            <a href="<%= crumb.url %>"><%= crumb.label %></a>
        </li>
        <% } %>
        <% }) %>
        <% } %>
    </ol>
</nav>

<!-- Basic Layout -->
<div class="row">
    <div class="col-xl">
        <div class="card mb-4">
            <div class="card mb-4">
                <div
                    class="card-header d-flex justify-content-between align-items-center">
                    <% if (typeof title !== 'undefined' && title.trim() !== '')
                    { %>
                    <h5 class="mb-0"><%= title %></h5>
                    <% } else { %>
                    <div></div>
                    <% } %>
                    <small class="text-muted float-end"></small>
                </div>
